{% extends "computation/baseDetails.html" %}

{% block menu_up %}
    <div id="talltabs-orange">
        <ul>
            <li ><a href="/VisualControllerApp/comp/{{pk}}"><span>General results</span></a></li>
            <li ><a href="/VisualControllerApp/computation/partial/{{pk}}"><span>Partial results</span></a></li>
            <li class="active"><a href="/VisualControllerApp/computation/configuration/{{pk}}"><span>Related Configuration</span></a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <h2>Configuration of computation</h2>

<textarea rows="15" cols="95" disabled="true">
{{ comp.configuration }}
</textarea>

{% endblock %}