{% extends "computation/baseDetails.html" %}


{% block menu_up %}
    <div id="talltabs-orange">
        <ul class="two">
            <li class="active"><a href="#"><span>Archived computations</span></a></li>
            <li><a href="#"><span>Settings</span></a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        function ChangePointer(tableRow)
        {
            tableRow.style.cursor='pointer'
        }

        function DoNav(theUrl)
        {
            document.location.href = theUrl;
        }
    </script>
    <div id="menu">
    <h2>Computation List</h2>
    </div>
    <table id="hor-zebra">
        <thead>
        <tr >
            <th>Date</th>
            <th>Algorithm</th>
            <th>Problem</th>
            <th>Completed</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {%  for comp in computation_list %}
            <tr class="odd"  onmouseover="ChangePointer(this);"
                onclick="DoNav('{% url comp_detail comp.id %}');">
                <td>{{ comp.created_on }} </td>
                <td>{{ comp.algorithm }} </td>
                <td>{{ comp.problem }} </td>
                <td>{{ comp.computed }} </td>
                <td><a href="{% url comp_delete comp.id %}"><button type="button">Delete</button></a></td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
{% endblock %}