<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>DJevolution</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}screen.css" media="screen" />
</head>
<style media="screen" type="text/css">


</style>
<body>
<div id="whole">
    <div id="header">
        <h1>DJEVOLUTION</h1>
        <h2>Fast evolution algorithms test platform</h2>
    </div>
    <div class="colmask leftmenu">
        <div class="colleft">
            <div class="col1">
                <!-- Column 1 start -->
                {% block menu_up %}upper menu {% endblock %}
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div id="base_content">
            {% block content %}this is the content{% endblock %}
            </div>


            </div>
            <div class="col2">
                <!-- Column 2 start -->
                <div class="kleks">
                    <br/>
                    <br/>
                    <br/>
                {% block menu_left %}left menu {% endblock %}
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
        By Pita and Wysek
    </div>
</div>

</body>
</html>
