<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>Charts example</title>
</head>
<style media="screen" type="text/css">
</style>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}highcharts.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
    $(document).ready(function() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                zoomType: 'x'
            },
            title: {
                text: 'Simple Highcharts example, zoomable two data series'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' :
                        'Drag your finger over the plot to zoom in'
            },
            xAxis: {
//                maxZoom: 14 * 24 * 3600000,
                title: {
                    text: 'x-axis'
                }
            },
            yAxis: {
                title: {
                    text: 'y-axis'
                }
            },
            plotOptions: {
                spline: {
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                symbol: 'circle',
                                radius: 5,
                                lineWidth: 1
                            }
                        }
                    }
                }
            },

            series: [{
                type: 'spline',
                name: 'series1',
                data: [
                {% for x,y in series1 %}
                   [ {{ x }}, {{ y }} ],
                {% endfor %}
                ]
            },
                {
                    type: 'spline',
                    name: 'series2',
                    data: [
                        {% for x,y in series2 %}
                            [ {{ x }}, {{ y }} ],
                        {% endfor %}
                    ]
                }
            ]
        });
    });
    </script>
    <div id="container" ></div>
</body>
</html>