{% extends "base.html" %}

{% block menu_up %}
    <div id="talltabs-orange">
        <ul class="two">
            <li class="active"><a href="#"><span>Archived computations</span></a></li>
            <li><a href="#"><span>Settings</span></a></li>
        </ul>
    </div>
{% endblock %}

{% block menu_left %}
<ul>
    <li class="active"><a href="/VisualControllerApp/">Computation List</a></li>
    <li ><a href="/VisualControllerApp/orderComputation/">Order Computation</a></li>
    <li><a href="#">Cluster Status</a></li>
</ul>
{% endblock %}

{% block content %}
    <div id="menu">
    <h2>Computation List</h2>
    </div>
    <table id="hor-zebra">
        <thead>
        <tr >
            <th>Population</th>
            <th>Algorithm</th>
            <th>Date</th>
            <th>Completed</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {%  for comp in computation_list %}
            <tr class="odd">
                <td>
                    <a href="{% url comp_detail comp.id %}">{{ comp.population_size }}</a>
                </td>
                <td>{{ comp.algorithm }} </td>
                <td>{{ comp.created_on }} </td>
                <td>{{ comp.computed }} </td>
                <td><a href="{% url comp_delete comp.id %}"><button type="button">Delete</button></a></td>
            </tr>
        {% endfor%}
        </tbody>
    </table>
    <a href="/VisualControllerApp/orderComputation/"><button type="button">Order computation</button></a>
{% endblock %}