<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>
        Order computation
    </title>
</head>
<body>
<div id="menu">
    <h1>DJEVOLUTION</h1>
    <h2>Order computation</h2>
<form action="/VisualControllerApp/orderComputation/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>


</div>

</body>
</html>