{% extends "order/baseOrder.html" %}
{% block menu_up %}
    <div id="talltabs-orange">
        <ul class="four">
            <li ><a href="/VisualControllerApp/order/computation/"><span>General settings</span></a></li>
            <li class="active"><a href="/VisualControllerApp/order/configuration/"><span>Configuration</span></a></li>
            <li><a href="/VisualControllerApp/order/monitoring"><span>Monitoring</span></a></li>
            <li ><a href="/VisualControllerApp/order/parallelization"><span>Parallelization settings</span></a></li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <h2>New computation configuration</h2>
{% endblock %}