{% extends "order/baseOrder.html" %}

{% block menu_up %}
    <div id="talltabs-orange">
        <ul class="four">
            <li ><a href="/VisualControllerApp/order/computation/"><span>General settings</span></a></li>
            <li><a href="/VisualControllerApp/order/configuration/"><span>Configuration</span></a></li>
            <li class="active"><a href="/VisualControllerApp/order/monitoring"><span>Monitoring</span></a></li>
            <li ><a href="/VisualControllerApp/order/parallelization"><span>Parallelization settings</span></a></li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <h2>Monitoring settings</h2>
    <form action="/VisualControllerApp/order/monitoring/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Next" />
    </form>


{% endblock %}